.menu {
	padding: var(--r1\/2);
	display: flex;
	flex-direction: column;
	flex-basis: 38%;
	align-items: flex-start;
}

.menu_button-group > button {
	margin: var(--r1);
	height: var(--r2);
	width: 7.2rem;
	font-family: inherit;
}