.menu {
	padding: var(--r1\/2);
	display: flex;
	flex-direction: column;
	flex-basis: 38%;
	align-items: flex-start;
}

.menu_button-group > button {
	margin: var(--r1);
	height: var(--r2);
	width: 7.2rem;
	font-family: inherit;
}

.with-filter {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.food-sort > label {
	padding: var(--r1\/4);
}

.food-sort > select{
	border-color: var(--raisin-black);
	width: 8rem;
}
