.order {
	display: flex;
	flex-direction: column;
	padding: var(--r1\/2);
	flex-basis: 34%;
}

.table {
	min-height: 40%;
}

.table > table {
	width: 24rem;
}

.total {
	display: flex;
	align-items: flex-end;
	padding: var(--r1) 0;
}

.total > p {
	text-align: center;
	padding: var(--r1\/2) 0;
	padding-right: var(--r1);
	font-size: 1.4rem;
	font-weight: bold;
}

.total > span {
	border: 1px solid var(--black);
	padding: var(--r1\/2);
	width: 8rem;
	text-align: right;
}

.print {
	display: flex;
	justify-content: flex-end;
}

.print > button {
	height: 3.2rem;
}